<h1 class="govuk-heading-l">
    Bath and North East Somerset
</h1>
    
{% include "includes/notCompliant.html" %}

<br>

<p>This vehicle does not comply with the <a href="http://www.bathnes.gov.uk/bath-breathes-2021-overview" target=_blank>Bath and North East Somerset CAZ emissions standards</a>. It is therefore subject to a charge when driving in <a href="http://www.bathnes.gov.uk/bath-breathes-2021-overview/zone-boundary">Bath and North East Somerset's Clean Air Zone</a> during its <a href="http://www.bathnes.gov.uk/bath-breathes-2021-overview">hours of operation</a>.</p>

<h2 class="govuk-heading-m">
    Next steps
</h2>

<ul class="govuk-list govuk-list--bullet">
    <li><a href="http://www.bathnes.gov.uk/bath-breathes-2021-overview/charges" target=_blank>Find out how much the Bath and North East Somerset CAZ charge is</a></li>
    <li><a href="http://www.bathnes.gov.uk/bath-breathes-2021-overview/exemptions-and-concessions" target=_blank>Find out if you qualify for an exemption or discount</a></li>
    <li><a href="" target=_blank>Pay the Bath and North East Somerset CAZ charge</a>
</ul>

<p>If you wish to avoid the charge in the future, you can change your vehicle to <a href="http://www.bathnes.gov.uk/bath-breathes-2021-overview" target=_blank>become compliant</a>, and you may qualify for <a href="http://www.bathnes.gov.uk/bath-breathes-2021-overview/supporting-measures" target=_blank>financial assistance</a> to help you do so.</p>