<h1 class="govuk-heading-l">
    Birmingham
</h1>
    
{% include "includes/notCompliant.html" %}

<br>

<p>This vehicle does not comply with the <a href="https://www.birmingham.gov.uk/info/20076/pollution/1763/a_clean_air_zone_for_birmingham/2" target=_blank>Birmingham CAZ emissions standards</a>. It is therefore subject to a charge when driving in <a href="https://www.birmingham.gov.uk/info/20076/pollution/1763/a_clean_air_zone_for_birmingham/3">Birmingham's Clean Air Zone</a> during its <a href="https://www.birmingham.gov.uk/info/20076/pollution/1763/a_clean_air_zone_for_birmingham/4">hours of operation</a>.</p>

<h2 class="govuk-heading-m">
    Next steps
</h2>

<ul class="govuk-list govuk-list--bullet">
    <li><a href="https://www.birmingham.gov.uk/info/20076/pollution/1763/a_clean_air_zone_for_birmingham/5" target=_blank>Find out how much the Birmingham CAZ charge is</a></li>
    <li><a href="https://www.birmingham.gov.uk/info/20076/pollution/1763/a_clean_air_zone_for_birmingham/6" target=_blank>Find out if you qualify for an exemption or discount</a></li>
    <li><a href="" target=_blank>Pay the Birmingham CAZ charge</a>
</ul>

<p>If you wish to avoid the charge in the future, you can change your vehicle to <a href="https://www.birmingham.gov.uk/info/20076/pollution/1763/a_clean_air_zone_for_birmingham/7" target=_blank>become compliant</a>, and you may qualify for <a href="https://www.birmingham.gov.uk/info/20076/pollution/1763/a_clean_air_zone_for_birmingham/7" target=_blank>financial assistance</a> to help you do so.</p>