<h1 class="govuk-heading-l">
    Birmingham CAZ compliance
</h1>
    
{% include "includes/subjectToCharge.html" %}


<br>

<p>The vehicle with registration {{ data['vrn'] }} does not comply with the <a href="">Birmingham CAZ emissions standards</a> and therefore you are subject to a daily charge.</p>
<p>The tariff for this vehicle to travel in the Birmingham CAZ is £XX unless you qualify for a <a href="">discount</a> or an <a href="">exemption</a>.</p>
<p>If you wish to avoid the charge, you can <a href="">become compliant</a>, and you may qualify for <a href="">financial assistance</a> to help you do so.</p>

<!-- <p>The vehicle with registration {{ data['vrn'] }} does not comply with the <a href="">Birmingham CAZ emissions standards</a>.</p>
<p>The tariff for this vehicle to enter the Birmingham CAZ is £XX, but you may be eligible for a <a href="">discount</a> or an <a href="">exemption</a>.</p>
<p>If you wish to avoid the charge, you can <a href="">become compliant</a>, and you may qualify for <a href="">financial assistance</a> to help you do so.</p> -->