<table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row"></td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Registration</td>
            <th class="govuk-table__cell" style="text-transform: uppercase">{{ data['vrn'] }}</td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Type</td>
              <th class="govuk-table__cell">Car</td>
            </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Make</td>
            <th class="govuk-table__cell">Tesla</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Colour</td>
            <th class="govuk-table__cell">Red</th>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Fuel type</td>
            <th class="govuk-table__cell">Electric</th>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Taxi/private hire vehicle?</td>
            <th class="govuk-table__cell">No</th>
          </tr>
        </tbody>
      </table>