{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
    First upload your vehicles
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">First upload your vehicles</h1>
            <p>
                You must upload vehicles in your fleet before you can complete any payments.
            </p>
            <form action="/fleets/single-user/fleet-document-upload" method="post">
                <button type="submit" class="govuk-button">
                    Continue
                </button>    
            </form>
        </div>
    </div>
{% endblock %}