
{% extends "layout_account.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Your direct debits</h1>
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with changing or cancelling a direct debit
          </span>
        </summary>
        <div class="govuk-details__text">
          You can only cancel direct debits with your bank. To change which bank account will be billed, cancel the direct debit on your old account and then create a new direct debit with your new account details.
        </div>
      </details>
    <form method="post" class="form" action="select-direct-debit">
        <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">CAZ</th>
                <th scope="col" class="govuk-table__header">Mandate ID</th>
                <th scope="col" class="govuk-table__header">Status</th>
              </tr>
            </thead>
            {% for m in mandate %}
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="text-transform: capitalize">{{m.caz}}</th>
                <td class="govuk-table__cell">{{m.mandateId}}</td>
                <td class="govuk-table__cell">Pending</td>
              </tr>
            </tbody>
            {%endfor%}
          </table>
      {% if (mandate === None) or (mandate.length < 2) %}
        <button type="submit" class="govuk-button">
            Set up new direct debit
        </button>
      {% else %}
        <p>You have created a mandate for each CAZ. No more mandates can be created.</p>
      {% endif %}
      <p><a href="fleet-account">Return to dashboard</a></p>
    </form>

  </div>
</div>

{% endblock %}
