
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Postcode Checker
{% endblock %}

{% block content %}   
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" class="form" action="/gds-proposals/postcode-results">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Postcode Checker
                  </h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="postcode">What is your postcode?</label>
                    <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode">
                </div>
                <button type="submit" class="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
{% endblock %}