{% extends "layout.html" %} {% block pageTitle %} Start page example {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block pageScripts %}
<script src="/public/javascripts/step-by-step-navigation.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.StepByStepNavigation()
    stepByStepNavigation.start($element)
</script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation2')
    var stepByStepNavigation2 = new GOVUK.Modules.StepByStepNavigation()
    stepByStepNavigation2.start($element)
</script>
{% endblock %} {% block beforeContent %}
<div class="app-step-nav-header">
    <span class="app-step-nav-header__part-of">Part of</span>
    <a class="app-step-nav-header__title" href="/gds-proposals/dashboard">
        Clean Air Zones
    </a>
</div>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Discover alternatives to having to pay
        </h1>
        <p>There are a number of alternatives to having to pay a Clean Air Zone charge. Read the information below to find out more:</p>
        <p>Information 1</p>
        <p>Information 2</p>

    </div>
</div>
{% endblock %}