{% extends "layout.html" %}

{% block pageTitle %}
Clean Air Zones
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Postcode Checker
        </h1>

        <p>Use this service to:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Check whether a given postcode is within a Clean Air Zone boundary</li>
        </ul>

        <a href="/gds-proposals/postcode-checker" role="button" draggable="false"
            class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
            data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>

    </div>
    <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" href="/gds-proposals/related-content/caz-boundaries-start">
                            Check the Clean Air Zone boundaries
                        </a>
                    </li>
                    <!-- <li>
                        <a class="govuk-link" href="/gds-proposals/related-content/postcode-checker-start">
                            Check your postcode
                        </a>
                    </li> -->
                    <li>
                        <a class="govuk-link" href="/gds-proposals/related-content/vehicle-checker">
                            Check your vehicle's compliance
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="/gds-proposals/related-content/local-exemptions">
                            Check local exemptions
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="/gds-proposals/related-content/national-exemptions">
                            Check national exemptions
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="/gds-proposals/related-content/payments">
                            Pay a Clean Air Zone charge
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="/gds-proposals/related-content/alternatives">
                            Discover alternatives to having to pay
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

    </div>
</div>
{% endblock %}