{% extends "layout.html" %} {% block pageTitle %} Start page example {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block pageScripts %}
<script src="/public/javascripts/step-by-step-navigation.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.StepByStepNavigation()
    stepByStepNavigation.start($element)
</script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation2')
    var stepByStepNavigation2 = new GOVUK.Modules.StepByStepNavigation()
    stepByStepNavigation2.start($element)
</script>
{% endblock %} {% block beforeContent %}
<div class="app-step-nav-header">
    <span class="app-step-nav-header__part-of">Part of</span>
    <a class="app-step-nav-header__title" href="/gds-proposals/step-by-step">
        Clean Air Zones: step by step
    </a>
</div>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Check information about national exemptions
        </h1>
        <p>National exemptions may be applicable to your vehicle which will be applied across all Clean Air Zones, meaning there is no charge for your vehicle. For more information, read the information below:</p>
        <p>Information 1</p>
        <p>Information 2</p>

    </div>

    <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                    <span class="app-step-nav-related__pretitle">Part of</span>
                    <a href="/gds-proposals/step-by-step">
                        Clean Air Zones: step by step
                    </a>
                </h2>
            </div>
            <div id="step-by-step-navigation" data-module="gemstepnav" class="app-step-nav js-hidden "
                data-id="e01e924b-9c7c-4c71-8241-66a575c2f61f" data-show-text="show" data-hide-text="hide"
                data-show-all-text="Show all" data-hide-all-text="Hide all">
                <ol class="app-step-nav__steps">
                    <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
                    <div class="app-step-nav__header js-toggle-panel" data-position="1">
                        <h2 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="govuk-visually-hidden">Step</span>1
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                Check the Clean Air Zone boundaries
                            </span>
                        </h2>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-check-youre-allowed-to-drive-1">
                        <p class="app-step-nav__paragraph">There are currently two Clean Air Zones, more will be added
                            in the future.</p>
                            

                        <ol class="app-step-nav__list " data-length="3">
                                <li class="app-step-nav__list-item js-list-item">
                                <a data-position="1.1" class="app-step-nav__link js-link"
                                    href="/gds-proposals/step-by-step/caz-boundaries-start">Clean Air Zone
                                    boundaries</a>
                            </li>
                            <li class="app-step-nav__list-item js-list-item ">
                                <a data-position="1.1" class="app-step-nav__link js-link"
                                    href="/gds-proposals/step-by-step/postcode-checker-start">Postcode checker</a>
                            </li>
                        </ol>
                    </div>

                </li>

                <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
                    <div class="app-step-nav__header js-toggle-panel" data-position="2">
                        <h2 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--logic">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        and
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                Check if your vehicle needs to pay when driving within the Clean Air Zones
                            </span>
                        </h2>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-a-provisional-licence-2">
                        <p class="app-step-nav__paragraph">Your vehicle will be charged for driving within a Clean Air
                            Zone if it does not comply with Clean Air standards.</p>
                        <ol class="app-step-nav__list " data-length="1">
                            <li class="app-step-nav__list-item js-list-item ">
                                <a data-position="2.1" class="app-step-nav__link js-link"
                                    href="/gds-proposals/step-by-step/vehicle-checker-step.html">Check your vehicle's
                                    compliance</a>
                            </li>
                        </ol>
                    </div>

                </li>

                <li class="app-step-nav__step js-step app-step-nav__step--active" aria-current="step" data-show
                        id="check-youre-allowed-to-drive">
                    <div class="app-step-nav__header js-toggle-panel" data-position="3">
                        <h2 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--logic">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        and
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                Check information about local and national exemptions
                            </span>
                        </h2>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
                        <p class="app-step-nav__paragraph">There are a number of exemptions, both on a local and
                            national scale</p>

                        <ol class="app-step-nav__list " data-length="4">
                            <li class="app-step-nav__list-item js-list-item">
                                <a data-position="3.1" class="app-step-nav__link js-link" href="/gds-proposals/step-by-step/local-exemptions">Local Exemptions</a>
                            </li>
                            <li class="app-step-nav__list-item js-list-item app-step-nav__list-item--active">
                                <a data-position="3.2" class="app-step-nav__link js-link" href="/gds-proposals/step-by-step/national-exemptions">National
                                    Exemptions</a>
                            </li>
                        </ol>
                    </div>

                </li>

                <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
                        <div class="app-step-nav__header js-toggle-panel" data-position="6">
                                <h2 class="app-step-nav__title">
                                        <span class="app-step-nav__circle app-step-nav__circle--number">
                                                <span class="app-step-nav__circle-inner">
                                                    <span class="app-step-nav__circle-background">
                                                        <span class="govuk-visually-hidden">Step</span>2
                                                    </span>
                                                </span>
                                            </span>
        
                                    <span class="js-step-title">
                                        Discover alternatives to having to pay the charge
                                    </span>
                                </h2>
                            </div>
        
                            <div class="app-step-nav__panel js-panel js-hidden"
                                id="step-panel-book-and-manage-your-driving-test-6">
                                <p class="app-step-nav__paragraph">There are alternatives to having to pay the Clean Air charge
                                </p>
        
                                <ol class="app-step-nav__list " data-length="5">
                                    <li class="app-step-nav__list-item js-list-item ">
                                        <a data-position="6.1" class="app-step-nav__link js-link" href="/gds-proposals/step-by-step/alternatives">Discover
                                            alternatives</a>
                                        </a>
                                    </li>
                                </ol>
                            </div>

                </li>

                <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test">
                    <div class="app-step-nav__header js-toggle-panel" data-position="1">
                            <h2 class="app-step-nav__title">
                                <span class="app-step-nav__circle app-step-nav__circle--number">
                                    <span class="app-step-nav__circle-inner">
                                        <span class="app-step-nav__circle-background">
                                            <span class="govuk-visually-hidden">Step</span>3
                                        </span>
                                    </span>
                                </span>
    
                                <span class="js-step-title">
                                    Pay a Clean Air Zone charge
                                </span>
                            </h2>
                        </div>
    
                        <div class="app-step-nav__panel js-panel js-hidden"
                            id="step-panel-book-and-manage-your-theory-test-5">
                            <p class="app-step-nav__paragraph">If your vehicle doesn't meet clean air standards, you need to
                                pay a daily charge for driving it into a Clean Air Zone.</p>
    
                            <ol class="app-step-nav__list " data-length="5">
                                <li class="app-step-nav__list-item js-list-item ">
                                    <a data-position="5.1" class="app-step-nav__link js-link"
                                        href="/gds-proposals/step-by-step/payments-step.html">Pay your charge</a>
                                </li>
                            </ol>
                        </div>

                </li>
            </ol>
            </div>
        </div>
</div>
{% endblock %}