{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/payments/sign-in",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">
            Account
        </h2>
        <p>
          <a href="/payments/account-home">Home</a>
          <br>
          <a href="/payments/account-details">Account details</a>
          <br>
          <a href="/payments/account-payments">Payment history</a>
          <br>
          <a href="/payments/account-payment-options">Payment options</a>
          <br>
          <b><a href="/payments/account-vehicles">Vehicles</a></b>
          <br>
          <a href="/payments/select-task">Sign out</a>
        </p>
        <p>
            <b>Name</b>
            <br>
            Erica Delcastillo
        </p>
        <p>
            <b>Account ID</b>
            <br>
            123456789
        </p>
        <p>
            <b>Account type</b>
            <br>
            Personal
        </p>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Vehicles</h1>
        <p>The following vehicles are linked to this account.</p>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell" scope="row">VRM</th>
                <th class="govuk-table__cell" scope="row">Make</th>
                <th class="govuk-table__cell" scope="row">Colour</th>
                <th class="govuk-table__cell" scope="row">Use</th>
                <th class="govuk-table__cell" scope="row">Taxi/private hire vehicle?</th>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">AE02 RYA</td>
                <td class="govuk-table__cell">Peugeot</td>
                <td class="govuk-table__cell">Grey</td>
                <td class="govuk-table__cell">Car</td>
                <td class="govuk-table__cell">Yes</td>
                <td class="govuk-table__cell"><a href="">Remove</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">WA14 RD</td>
                <td class="govuk-table__cell">Tata</td>
                <td class="govuk-table__cell">Fuchsia</td>
                <td class="govuk-table__cell">Lorry</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell"><a href="">Remove</a></td>
              </tr>
            </tbody>
          </table>
          <button class="govuk-button">Add vehicle</button>
    </div>
</div>

{% endblock %}