{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/payments/sign-in",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">
            Account
        </h2>
        <p>
          <a href="/payments/account-home">Home</a>
          <br>
          <b><a href="/payments/account-details">Account details</a></b>
          <br>
          <a href="/payments/account-payments">Payment history</a></b>
          <br>
          <a href="/payments/account-payment-options">Payment options</a>
          <br>
          <a href="/payments/account-vehicles">Vehicles</a>
          <br>
          <a href="/payments/select-task">Sign out</a>
        </p>
        <p>
            <b>Name</b>
            <br>
            Erica Delcastillo
        </p>
        <p>
            <b>Account ID</b>
            <br>
            123456789
        </p>
        <p>
            <b>Account type</b>
            <br>
            Personal
        </p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Account details</h1>
      <h1 class="govuk-heading-m">Personal details</h1>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row">Name</th>
            <td class="govuk-table__cell" scope="row">Erica Delcastillo</td>
            <td class="govuk-table__cell" scope="row"><a href="">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row">E-mail</th>
            <td class="govuk-table__cell" scope="row">erica.delcastillo@cmail.com</td>
            <td class="govuk-table__cell" scope="row"><a href="">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row">Mobile number</th>
            <td class="govuk-table__cell" scope="row">01234567891</td>
            <td class="govuk-table__cell" scope="row"><a href="">Change</a></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

{% endblock %}