{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/payments/sign-in",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">
            Account
        </h2>
        <p>
          <a href="/payments/account-home">Home</a>
          <br>
          <a href="/payments/account-details">Account details</a>
          <br>
          <b><a href="/payments/account-payments">Payment history</a></b>
          <br>
          <a href="/payments/account-payment-options">Payment options</a>
          <br>
          <a href="/payments/account-vehicles">Vehicles</a>
          <br>
          <a href="/payments/select-task">Sign out</a>
        </p>
        <p>
            <b>Name</b>
            <br>
            Erica Delcastillo
        </p>
        <p>
            <b>Account ID</b>
            <br>
            123456789
        </p>
        <p>
            <b>Account type</b>
            <br>
            Personal
        </p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Payment history</h1>
      <div style="background-color: #dee0e2; padding: 20px; padding-bottom: 5px;">
        <div class="govuk-form-group">
          <label class="govuk-label" for="vrm" style="display: inline-block; width: 50%;">
            <b>Vehicle registration number</b>
            <br>
            <select class="govuk-select" id="vrm" name="vrm">
              <option value="all">All</option>
              <option value="AE02 RYA">AE02 RYA</option>
              <option value="WA14 RD">WA14 RD</option>
            </select>
          </label>
          <label class="govuk-label" for="caz" style="display: inline-block;">
            <b>Clean Air Zone</b>
            <br>
            <select class="govuk-select" id="caz" name="caz">
              <option value="all">All</option>
              <option value="birmingham">Birmingham</option>
              <option value="leeds">Leeds</option>
              <option value="sheffield">Sheffield</option>
            </select> 
          </label>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="vrm" style="display: inline-block; width: 50%;">
            <b>Start date</b>
            <br>
            <div class="govuk-date-input" id="start-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="start-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-day" name="start-day" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="start-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-month" name="start-month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="start-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="start-year" name="start-year" type="number" pattern="[0-9]*">
                </div>
              </div>
            </div>  
          </label>
          <label class="govuk-label" for="caz" style="display: inline-block;">
            <b>End date</b>
            <br>
            <div class="govuk-date-input" id="end-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="end-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="end-day" name="end-day" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="end-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="end-month" name="end-month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="end-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="end-year" name="end-year" type="number" pattern="[0-9]*">
                </div>
              </div>
            </div> 
          </label>
        </div>
        <button type="submit" class="govuk-button">
          Search
        </button>
      </div>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row">CAZ</th>
            <th class="govuk-table__cell" scope="row">VRM</th>
            <th class="govuk-table__cell" scope="row">Date</th>
            <th class="govuk-table__cell" scope="row">Charge</th>
            <th class="govuk-table__cell" scope="row">Payment reference</th>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Birmingham</td>
            <td class="govuk-table__cell">AE02 RYA</td>
            <td class="govuk-table__cell">21/02/2019</td>
            <td class="govuk-table__cell">£4.50</td>
            <td class="govuk-table__cell">ABCD1234</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Leeds</td>
            <td class="govuk-table__cell">AE02 RYA</td>
            <td class="govuk-table__cell">21/02/2019</td>
            <td class="govuk-table__cell">£12.50</td>
            <td class="govuk-table__cell">EFGH5678</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Sheffield</td>
            <td class="govuk-table__cell">WA14 RD</td>
            <td class="govuk-table__cell">21/02/2019</td>
            <td class="govuk-table__cell">£10.00</td>
            <td class="govuk-table__cell">IJKL9123</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

{% endblock %}