{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/payments/local-authority",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
    Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Pay a Bath Clean Air Zone charge</h1>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                Due to temporary road closures on the A36, charging has been suspended for 27 February 2019.
            </strong>
        </div>
        <p>You do not need to pay today.</p>
        <p><a href="/payments/local-authority">Pay for another CAZ</a></p>
    </div>

    <div class="govuk-grid-column-one-third" style="background: #f8f8f8; border-style: solid; border-width: 10px; border-color: 
    #bfc1c3; padding: 20px; width: 31%;">
        <h2 class="govuk-heading-m">
            Payment summary
        </h2>
        <h3 class="govuk-heading-s">
            Total charge
        </h3>
        <h2 class="govuk-heading-m" id="charge" name="charge">£0.00</h2>
    </div>
</div>

{% endblock %}
