{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
    Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        {% if error %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#caz-charge-error">{{errorMessage}}</a>
              </li>
            </ul>
          </div>
        </div>
        {% endif %}

        

        <h1 class="govuk-heading-l">Pay a Birmingham Clean Air Zone charge</h1>
        <p>The daily charge for your vehicle is:</p>

        {% if ((data['vrn'] | capitalize) == 'Def789') or ((data['vrn'] | capitalize) == 'Def 789') %}
        <h2 class="govuk-heading-m">£50.00</h2>
        {% elseif ((data['vrn'] | capitalize) == 'Jkl987') or ((data['vrn'] | capitalize) == 'Jkl 987') or (data['vehicle-type'] == 'HGV') or (data['vehicle-type'] == 'busCoach') %}
        <h2 class="govuk-heading-m">£50.00</h2>
        {% else %}
        <h2 class="govuk-heading-m">£8.00</h2>
        {% endif %}

        <p>You only need to pay once per day (the daily charge period runs from midnight to midnight).</p>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                If you don't pay by midnight on the next working day after you have driven in the zone, you will be sent a fine.
            </strong>
        </div>
        <form method="post" class="form" action="/payments/birmingham">
          {% if error %}
          <div class="govuk-form-group govuk-form-group--error">
          {% endif %}
          {% if not error %} 
          <div class="govuk-form-group">
          {% endif %}
            <fieldset class="govuk-fieldset" aria-describedby="confirm-hint">
                {% if error %}
                <span id="caz-charge-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{errorMessage}}
                </span>
                {% endif %}
                <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="confirm-1" name="confirm" type="checkbox" value="correct-details">
                  <label class="govuk-label govuk-checkboxes__label" for="confirm-1">
                    I confirm that I am not exempt from the Birmingham Clean Air Zone charge (full details about who is exempt from paying the charge in Birmingham can be found <a href="" target="_blank">here</a>).
                  </label>
                </div>
              </div>
            </fieldset>
          </div> 
        
            <button type="submit" class="govuk-button">
                Continue
            </button>
        </form>
        <p><a href="">Discover alternatives to having to pay</a></p>
    </div>
</div>

{% endblock %}
