{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">There is no charge for this vehicle</h1>
   
    <p>You do not have to pay to drive this vehicle in any existing Clean Air Zone but this may change as more zones are implemented.</p>

    <p>Birmingham and Leeds are currently the only Clean Air Zones.</p>

    <p>You can always use the <a href="" target="_blank">Vehicle Checker</a> service to find out if you need to pay in any Clean Air Zone.</p>
    
    <p><a href="enter-vehicle-details.html">Pay for another vehicle</a></p>



  </div>
</div>

{% endblock %}