{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/payments/debit-credit-card",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
    Confirm your payment
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Confirm your payment</h1>
        <form method="post" class="form" action="/payments/confirm-payment">
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Card number:</td>
                        <th class="govuk-table__header" scope="row">*************1234</th>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Expiry date:</td>
                        <th class="govuk-table__header" scope="row">{{ data['expiry-month'] }}/{{ data['expiry-year'] }}</th>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Name on card:</td>
                        <th class="govuk-table__header" scope="row">{{ data['card-name'] }}</th>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Billing address:</td>
                        <th class="govuk-table__header" scope="row">{{ data['building-number'] }}, {% if data['street'] %} {{ data['street'] }}, {% endif %}{{ data['town'] }}, {{ data['postcode'] }}, {{ data['country'] }}</th>
                    </tr>
                    {% if data['email'] != "" %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Confirmation email:</td>
                        <th class="govuk-table__header" scope="row">{{ data['email'] }}</th>
                    </tr>
                    {% endif %}
                    {% if data['mobile-number'] != "" %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Confirmation text message:</td>
                        <th class="govuk-table__header" scope="row">{{ data['mobile-number'] }}</th>
                    </tr>
                    {% endif %}                
                </tbody>
              </table>
            <button type="submit" class="govuk-button">
                Confirm payment
            </button>
        </form>

        <p><a href="/payments/cancel-payment">Cancel payment</a></p>

    </div>

    <div class="govuk-grid-column-one-third" style="background: #f8f8f8; border-style: solid; border-width: 10px; border-color: 
    #bfc1c3; padding: 20px; width: 31%;">
        <h2 class="govuk-heading-m">
            Payment summary
        </h2>
        <h3 class="govuk-heading-s">
            Registration number
        </h3>
        <p id="vrm" name="vrm" style="text-transform: uppercase">{{ data['vrn'] }}</p>
        <h3 class="govuk-heading-s">
            Clean Air Zone
        </h3>
        {% if data['caz'] == 'leeds-weekly'%}
        {% set caz = 'leeds' %}
        {% else %}
        {% set caz = data['caz'] %}
        {% endif %}
        <p style="text-transform: capitalize">{{caz}}</p>
        <h3 class="govuk-heading-s">
            Payment for
        </h3>
        <p id="charge" name="charge">{{date}}</p>
        <h3 class="govuk-heading-s">
            Total charge
        </h3>
        <h2 class="govuk-heading-m" id="charge" name="charge">{{amountDue}}</h2>
    </div>
</div>

{% endblock %}