
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What days are you paying for?</h1>
      <p>You can pay up to 7 days in advance.</p>
      <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              You have to pay before midnight the day after you drove through a zone. If you are trying to make a payment later than this, you will need to wait for a penalty charge notice to arrive by post. This will be sent to the address the DVLA holds for the vehicle owner.
          </strong>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="start-date">
            <b>Start date</b>
        </label>
        <span id="vrn-hint" class="govuk-hint">
          For example, 25/05/2019
        </span>
        <input class="govuk-input govuk-input--width-10" id="start-date" name="start-date" type="text">
        <input class="govuk-input govuk-input--width-10" id="end-date" name="end-date" type="text">
      </div>
      <p>A daily charge runs from midnight to midnight.</p>
            <button type="submit" class="govuk-button">
                Continue
            </button>
    </div>
</div>

<script src="/public/javascripts/moment.min.js"></script>
<script src="/public/javascripts/lightpick.js"></script>

<script>
var picker = new Lightpick({
    field: document.getElementById('start-date'),
    secondField: document.getElementById('end-date'),
    singleDate: false,
    onSelect: function(start, end){
        document.getElementById('start-date').innerHTML = start.format('Do MMMM YYYY');
        document.getElementById('end-date').innerHTML = end.format('Do MMMM YYYY');
    }
});
</script>

{% endblock %}
