{% extends "layout.html" %}
{% extends "includes/fleet-account-head.html" %}


{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Welcome back</h1>
   
    <table class="govuk-table">
            <caption class="govuk-table__caption">Your Registered Vehicles</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Registration Number</th>
                <th class="govuk-table__header" scope="col">Type</th>
                <th class="govuk-table__header" scope="col">Make</th>
                <th class="govuk-table__header" scope="col">Colour</th>
                <th class="govuk-table__header" scope="col">Fuel Type</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">CU57ABC</td>
                <td class="govuk-table__cell" scope="row">Car</td>
                <td class="govuk-table__cell" scope="row">Peugeot</td>
                <td class="govuk-table__cell" scope="row">Grey</td>
                <td class="govuk-table__cell" scope="row">Diesel</td>
              </tr>
            </tbody>
            <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">DA56XYZ</td>
                      <td class="govuk-table__cell" scope="row">Car</td>
                      <td class="govuk-table__cell" scope="row">Toyota</td>
                      <td class="govuk-table__cell" scope="row">Red</td>
                      <td class="govuk-table__cell" scope="row">Petrol</td>
                    </tr>
                  </tbody>
          </table>

          <p><a href="">Download all vehicles</a></p>
  </div>
          <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">Other tasks</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="fleet-payment-caz-selection.html">Pay fleet CAZ charges</a></li>
                    <li><a href="fleet-document-upload.html">Register my fleet</a></li>
                    <li><a href="">Set up a direct debit</a></li>
                    <li><a href="fleet-payment-history.html">Payment History</a></li>
                </ul>
            </div>

            

</div>

{% endblock %}