{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Payment History</h1>
   
    <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Payment Reference</th>
                <th class="govuk-table__header" scope="col">CAZ</th>
                <th class="govuk-table__header" scope="col">Date</th>
                <th class="govuk-table__header" scope="col">Amount</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">CAZ723</td>
                <td class="govuk-table__cell" scope="row">Leeds</td>
                <td class="govuk-table__cell" scope="row">15/07/2019</td>
                <td class="govuk-table__cell" scope="row">£12.50</td>
              </tr>
            </tbody>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">CAZ723</td>
                  <td class="govuk-table__cell" scope="row">Birmingham</td>
                  <td class="govuk-table__cell" scope="row">01/07/2019</td>
                  <td class="govuk-table__cell" scope="row">£160</td>
                </tr>
              </tbody>
            <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">CAZ827</td>
                      <td class="govuk-table__cell" scope="row">Birmingham</td>
                      <td class="govuk-table__cell" scope="row">22/06/2019</td>
                      <td class="govuk-table__cell" scope="row">£48</td>
                    </tr>
                  </tbody>
          </table>
  </div>
          <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">Other tasks</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="fleet-payment-caz-selection.html">Pay fleet CAZ charges</a></li>
                    <li><a href="fleet-document-upload.html">Register my fleet</a></li>
                    <li><a href="">Set up a direct debit</a></li>
                </ul>
            </div>

            

</div>

{% endblock %}