
{% extends "layout_account.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {% if error %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#vrn-error">{{errorMessage}}</a>
            </li>
          </ul>
        </div>
      </div>
      {% endif %}

    <h1 class="govuk-heading-l">Update your account details</h1>

    <form method="POST" class="form" action="fleet-account">
        {% if error %}
          <div class="govuk-form-group govuk-form-group--error">
        {% endif %}
        {% if not error %} 
          <div class="govuk-form-group">
        {% endif %}
      <label class="govuk-label govuk-date-input__label" for="company-name"><b>Company name</b></label>
      {% if error %}
        <span id="vrn-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{errorMessage}}
        </span>
      {% endif %}
      <input class="govuk-input" id="company-name" name="company-name" type="text" style="width: 60%;" autocomplete="name" spellcheck="false" value="Leeds Taxis">
      </div> 

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-heading-m">
            Name (account holder)
          </h1>
        </legend>
      <fieldset class="govuk-fieldset">
      <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="first-names"><b>First name</b></label>
          <input class="govuk-input" id="first-name" name="first-name" type="text" style="width: 60%;" autocomplete="name" spellcheck="false" value="Peter">
      </div>  
      <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="middle-names"><b>Middle names</b></label>
          <input class="govuk-input" id="middle-names" name="middle-names" type="text" style="width: 60%;" autocomplete="name" spellcheck="false">
      </div> 
      <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="last-name"><b>Surname</b></label>
          <input class="govuk-input" id="last-name" name="last-name" type="text" style="width: 60%;" autocomplete="name" spellcheck="false" value="Andrews">
      </div>
    </fieldset>  
      
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-heading-m">
          Address
        </h1>
      </legend>
      <fieldset class="govuk-fieldset">
          {% if countryError %}
                <div class="govuk-form-group govuk-form-group--error">
                {% endif %}
                {% if not countryError %} 
                <div class="govuk-form-group">
                {% endif %}
                    <label class="govuk-label govuk-date-input__label" for="country"><b>Country or territory</b></label>
                    {% if countryError %}
                    <span id="country-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{countryErrorMessage}}
                    </span>
                    {% endif %}
                    <input class="govuk-input" id="country" name="country" type="text" style="width: 60%;" aria-describedby="country-hint" value="United Kingdom">
                </div>
                {% if buildingNumberError %}Company name
                <div class="govuk-form-group govuk-form-group--error">
                {% endif %}
                {% if not buildingNumberError %} 
                <div class="govuk-form-group">
                {% endif %}    
                    <label class="govuk-label govuk-date-input__label" for="building-number"><b>Building number or name and street</b></label>
                    {% if buildingNumberError %}
                    <span id="building-number-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{buildingNumberErrorMessage}}
                    </span>
                    {% endif %}
                    <input class="govuk-input" id="building-number" name="building-number" type="text" style="width: 60%;" aria-describedby="building-number-hint" value="19 Whitehall Road">
                </div>
                    <input class="govuk-input" id="street" name="street" type="text" style="width: 60%;" aria-describedby="street-hint" value="Holbeck">
                <br>
                <br>
                {% if townError %}
                <div class="govuk-form-group govuk-form-group--error">
                {% endif %}
                {% if not townError %} 
                <div class="govuk-form-group">
                {% endif %}
                    <label class="govuk-label govuk-date-input__label" for="town"><b>Town or city</b></label>
                    {% if townError %}
                    <span id="town-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{townErrorMessage}}
                    </span>
                    {% endif %}
                    <input class="govuk-input" id="town" name="town" type="text" style="width: 60%;" aria-describedby="town-hint" value="Leeds">
                </div>
                {% if postcodeError %}
                <div class="govuk-form-group govuk-form-group--error">
                {% endif %}
                {% if not postcodeError %} 
                <div class="govuk-form-group">
                {% endif %}
                    <label class="govuk-label govuk-date-input__label" for="postcode"><b>Postcode</b></label>
                    {% if postcodeError %}
                    <span id="postcode-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{postcodeErrorMessage}}
                    </span>
                    {% endif %}
                    <input class="govuk-input govuk-input--width-5" id="postcode" name="postcode" type="text" style="width: 60%;" aria-describedby="postcode-hint" value="LS10 1AB">
                </div>
                
        
        </fieldset>
      

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-heading-m">
              Contact Details
            </h1>
          </legend>
          <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="email"><b>Email</b></label>
              <span id="email-hint" class="govuk-hint">
                  We'll only use this to send your receipt
              </span>
              <input class="govuk-input" id="email" name="email" type="text" style="width: 60%;" aria-describedby="email-hint" value="leedstaxis@email.com">
          </div>
          <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="telephone-number"><b>Telephone number</b></label>
              <span id="telephone-number-hint" class="govuk-hint">
                For international numbers include the country code
              </span>
              <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" style="width: 60%;" aria-describedby="telephone-number-hint" autocomplete="tel" value="0113 123 456">
            </div>

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-heading-m">
                  Account Details
                </h1>
              </legend>
              <div>
                  <label class="govuk-label govuk-input__label" for="password"><b>Password</b></label>
                  <p><a href="fleet-account-forgotten-password.html">Change my password</a></p>
              </div>
            <br>  

            <button type="submit" class="govuk-button">
                Save
            </button>

          </form>

    </div>
</div>

{% endblock %}