
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <h1 class="govuk-heading-l">
        Incorrect vehicle details
      </h1>
      
      <p>If the vehicle details are incorrect please write to:
      <br>
      <br>
      CCG
      <br>
      DVLA
      <br>
      Swansea
      <br>
      SA99 1BA
      <br>
      <br>
      You'll need to include the incorrect V5C vehicle registration certificate (log book).</p>
      <div class="govuk-inset-text">
        <a href="https://www.gov.uk/vehicle-log-book" target=_blank>What to do if you don't have a V5C vehicle registration certificate</a>.
      </div>
      <p>You still need to pay the Clean Air Zone charge, even if you believe you shouldn't have to pay.</p>
      <p>You must resolve the vehicle registration details with the DVLA before applying for a refund.</p>
      <form method="post" class="form" action="/payments/local-authority">
        <button type="submit" class="govuk-button">
            Continue
        </button>
    </form>
      <p><a href="/payments/enter-vehicle-details">Check another vehicle</a></p>

    </div>
</div>

{% endblock %}
