
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/payments/confirm-vehicle-details",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <h1 class="govuk-heading-l">
        Incorrect vehicle details
      </h1>
      
      <p>If you think any of the vehicle details are incorrect, please write to:
      <br>
      <br>
      Driver and Vehicle Licensing Agency (DVLA)
      <br>
      Swansea
      <br>
      SA99 1BA
      <br>
      <br>
      You'll need to include your V5C vehicle registration certificate. This is sometimes known as the log book.
      </p>

      <div class="govuk-inset-text">
        <a href="https://www.gov.uk/vehicle-log-book" target=_blank>What to do if you don't have a V5C vehicle registration certificate</a>.
      </div>

      <p><a href="/vehicle-checker/enter-vehicle-details">Check another vehicle</a></p>

    </div>
</div>

{% endblock %}
