
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <h1 class="govuk-heading-l">
        Incorrect vehicle details
      </h1>
      
      <p>If your vehicle details are incorrect, you may need to <a href="https://www.gov.uk/change-vehicle-details-registration-certificate" target="_blank">update them</a>.</p>
      <p>You still need to pay the Clean Air Zone charge, if you have driven or are planning to drive in a Clean Air Zone. However, as long as your vehicle meets Clean Air standards, you'll be able to claim a refund once your vehicle registration details are updated.</p>
      <form method="post" class="form" action="/payments/local-authority">
        <button type="submit" class="govuk-button">
            Continue
        </button>
    </form>
      <p><a href="/payments/enter-vehicle-details">Check another vehicle</a></p>

    </div>
</div>

{% endblock %}
