{% extends "layout.html" %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Pay a Clean Air Zone charge
      </h1>

      <p>Use this service to pay a charge incurred for driving into a Clean Air Zone.</p>

      <p>You'll need the registration of the vehicle you wish to check.</p>

      <div class="govuk-inset-text">
        If you've already set up an account, <a href="/payments/sign-in">sign in</a> to manage your account or pay the charge.
      </div>

      <a href="/payments/select-task" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>

      <h2 class="govuk-heading-m">
        Other ways to pay
      </h2>

      <p>You can pay:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>by phone</li>
        <li>by textphone</li>
        <li>at your nearest <a href="https://www.payzone.co.uk/consumers/" target=_blank>Payzone</a>, <a href="https://consumer.paypoint.com/" target=_blank>PayPoint</a> or <a href="https://www.postoffice.co.uk/branch-finder" target=_blank>Post Office</a> outlet</li>
      </ul>

      <p>
        <b>Pay a Clean Air Zone charge telephone service</b>
        <br>
        Telephone: 0123456789
        <br>
        Available 7 days a week, from 8am to 6pm
      </p>
      <p>
        <b>Pay a Clean Air Zone charge textphone service</b>
        <br>
        Textphone: 0234567891
        <br>
        Available 7 days a week, from 8am to 6pm
      </p>
      <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
      
    </div>

</div>

{% endblock %}
