{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/payments/select-period",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
    Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Pay a Leeds Clean Air Zone weekly charge</h1>
        <p>The weekly charge for your vehicle is:</p>
        <h2 class="govuk-heading-m">£50.00</h2>
        <p>The weekly charge lets you drive the same vehicle into the Leeds Clean Air Zone as often as you like within any 7-day period.</p>
        <p>You must pay for the weekly charge either on the first day you drive or by midnight the day after you drive through a Clean Air Zone.</p>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                If you don't pay by midnight on the day after you drove in the zone, you'll get a fine. This is also known as a penalty charge notice (PCN).
            </strong>
        </div>
        <form method="post" class="form" action="/payments/select-date-weekly">
            <button type="submit" class="govuk-button">
                Continue
            </button>
            <input type="hidden" value="leeds-weekly" name="caz">
        </form>
        <p><a href="/payments/local-authority">Pay for another Clean Air Zone</a></p>
    </div>

    <div class="govuk-grid-column-one-third" style="background: #f8f8f8; border-style: solid; border-width: 10px; border-color: 
    #bfc1c3; padding: 20px; width: 31%;">
        <h2 class="govuk-heading-m">
            Payment summary
        </h2>
        <h3 class="govuk-heading-s">
            Registration number
        </h3>
        <p id="vrm" name="vrm" style="text-transform: uppercase">{{ data['vrn'] }}</p>
    </div>
</div>

{% endblock %}
