{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
    Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Pay a Leeds Clean Air Zone weekly charge</h1>
        <p>The weekly charge for your vehicle is:</p>
        <h2 class="govuk-heading-m">£50.00</h2>
        <p>The weekly charge lets you drive the same vehicle into the Leeds Clean Air Zone as often as you like within any 7-day period.</p>
        <p>You must pay for the weekly charge either on the first day you drive or by midnight the day after you drive through a Clean Air Zone.</p>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                If you don't pay by midnight the day after you drive in the zone, you'll get a fine. This is also known as a penalty charge notice (PCN).
            </strong>
        </div>
        <form method="post" class="form" action="/payments/select-date-weekly">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <div class="govuk-checkboxes" required>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="correct-details" required>
                  <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                    I have checked to make sure that I do not have any exemptions that mean I do not have to pay the charge in Leeds
                  </label>
                </div>
              </div>
            </fieldset>
          </div> 
        
            <button type="submit" class="govuk-button">
                Continue
            </button>
            <input type="hidden" value="leeds-weekly" name="caz">
        </form>
        <p><a href="/payments/local-authority">Pay for another Clean Air Zone</a></p>
        <p><a href="">Discover ways to avoid having to pay</a></p>
    </div>

</div>

{% endblock %}
