
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/payments/confirm-vehicle-details",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" class="form" action="/payments/paymentPages">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="cazHint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Select a Clean Air Zone to pay for
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="caz-1" name="caz" type="radio" value="bath">
                <label class="govuk-label govuk-radios__label" for="caz-1">
                  Bath (<a href="https://www.bathnes.gov.uk/bath-breathes-2021-overview/overview-scheme" target=_blank>find out if you qualify for an exemption</a>)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="caz-2" name="caz" type="radio" value="birmingham">
                <label class="govuk-label govuk-radios__label" for="caz-2">
                  Birmingham (<a href="https://www.birmingham.gov.uk/info/20076/pollution/1763/a_clean_air_zone_for_birmingham/6" target=_blank>find out if you qualify for an exemption</a>)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="caz-3" name="caz" type="radio" value="leeds">
                <label class="govuk-label govuk-radios__label" for="caz-3">
                  Leeds (<a href="https://www.leeds.gov.uk/business/environmental-health-for-business/air-quality/exempt-vehicles-clean-air-charging-zone" target=_blank>find out if you qualify for an exemption</a>)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="caz-4" name="caz" type="radio" value="sheffield">
                <label class="govuk-label govuk-radios__label" for="caz-4">
                  Sheffield (<a href="http://democracy.sheffield.gov.uk/ieDecisionDetails.aspx?Id=2156" target=_blank>find out if you qualify for an exemption</a>)
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        
        <button type="submit" class="govuk-button">
            Continue
        </button>
      </form>

    </div>
</div>

{% endblock %}
