{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/payments/caz",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
    Pay a Clean Air Zone charge
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Choose payment method</h1>
        <form method="post" class="form" action="/payments/selectedPaymentMethod">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                            How do you want to pay?
                        </h1>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="payment-method-2" required name="payment-method" type="radio" value="debit-credit-card">
                            <label class="govuk-label govuk-radios__label" for="payment-method-2">
                                Debit or credit card
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="payment-method-1" required name="payment-method" type="radio"  value="apple-pay">
                            <label class="govuk-label govuk-radios__label" for="payment-method-1">
                                Apple Pay
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="payment-method-1" required name="payment-method" type="radio"  value="google-pay">
                            <label class="govuk-label govuk-radios__label" for="payment-method-3">
                                Google Pay
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button">
                Continue
            </button>
        </form>
    </div>
    <div class="govuk-grid-column-one-third" style="background: #f8f8f8; border-style: solid; border-width: 10px; border-color: 
    #bfc1c3; padding: 20px; width: 31%;">
        <h2 class="govuk-heading-m">
            Payment summary
        </h2>
        <h3 class="govuk-heading-s">
            Total charge
        </h3>
        <h2 class="govuk-heading-m" id="charge" name="charge">{{amountDue}}</h2>
    </div>
</div>

{% endblock %}