{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Can I claim a refund?</h1>
   
    <p>You can claim a refund:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>if you paid in advance but now need to cancel one or more days (you'll need to apply for this refund by midnight before the first day you paid for)</li>
        <li>if you have paid for a vehicle that meets clean air standards</li>
        <li>if you have paid for a vehicle that is exempt (you must have registered your exempt vehicle with the local authority or you won't be able to claim a refund)</li>
        <li>if you had to pay because the DVLA's records for your vehicle were incorrect</li>
    </ul>
    <p>You can't claim a refund:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>if you paid for a day but didn't drive in the zone on that day</li>
        <li>if the day you want to claim a refund for has already started</li>
    </ul>

    <p>If you need to claim a refund, click continue</p>
    <form action="/payments/refund-details">
        <button type="submit" class="govuk-button">
            Continue
        </button>
    </form>
    <p><a href="/">Return to start page</a></p>

  </div>
</div>

{% endblock %}
