{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
    Pay a Clean Air Zone charge
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if error %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
            data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#date-error">{{errorMessage}}</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
        <h1 class="govuk-heading-l">When do you want the 7-day period to start?</h1>
        <p>You have the pay your weekly charge by midnight the day after you begin driving in the zone.</p>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                If you are trying to make a payment later than this, you will need to wait for a penalty charge notice
                to arrive. This will be sent to the address the DVLA holds for the vehicle owner.
            </strong>
        </div>
        <form method="post" class="form" action="/payments/selected-date">
            <div class="govuk-form-group">
                {% if error %}
                <div class="govuk-form-group govuk-form-group--error">
                    {% endif %}
                    {% if not error %}
                    <div class="govuk-form-group">
                        {% endif %}
                        {% if error %}
                        <span id="date-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> {{errorMessage}}
                        </span>
                        {% endif %}
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="date-1" name="date" type="radio"
                                        value="yesterday">
                                    <label class="govuk-label govuk-radios__label" for="date-1">
                                        {{yesterday}}
                                    </label>
                                    <span id="yesterday-hint" class="govuk-hint" style="margin-left: 15px;">
                                        Your weekly charge is valid until midnight on {{yesterdayStringWeekly}}
                                    </span>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="date-2" name="date" type="radio"
                                        value="today">
                                    <label class="govuk-label govuk-radios__label" for="date-2">
                                        {{today}}
                                    </label>
                                    <span id="today-hint" class="govuk-hint" style="margin-left: 15px;">
                                        Your weekly charge is valid until midnight on {{todayStringWeekly}}
                                    </span>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="date-3" name="date" type="radio"
                                        value="1-day-after">
                                    <label class="govuk-label govuk-radios__label" for="date-3">
                                        {{oneDayAfter}}
                                    </label>
                                    <span id="today-hint" class="govuk-hint" style="margin-left: 15px;">
                                        Your weekly charge is valid until midnight on {{oneDayAfterStringWeekly}}
                                    </span>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="date-4" name="date" type="radio"
                                        value="2-days-after">
                                    <label class="govuk-label govuk-radios__label" for="date-4">
                                        {{twoDaysAfter}}
                                    </label>
                                    <span id="today-hint" class="govuk-hint" style="margin-left: 15px;">
                                        Your weekly charge is valid until midnight on {{twoDaysAfterStringWeekly}}
                                    </span>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="date-5" name="date" type="radio"
                                        value="3-days-after">
                                    <label class="govuk-label govuk-radios__label" for="date-5">
                                        {{threeDaysAfter}}
                                    </label>
                                    <span id="today-hint" class="govuk-hint" style="margin-left: 15px;">
                                        Your weekly charge is valid until midnight on {{threeDaysAfterStringWeekly}}
                                    </span>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="date-6" name="date" type="radio"
                                        value="4-days-after">
                                    <label class="govuk-label govuk-radios__label" for="date-6">
                                        {{fourDaysAfter}}
                                    </label>
                                    <span id="today-hint" class="govuk-hint" style="margin-left: 15px;">
                                        Your weekly charge is valid until midnight on {{fourDaysAfterStringWeekly}}
                                    </span>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="date-7" name="date" type="radio"
                                        value="5-days-after">
                                    <label class="govuk-label govuk-radios__label" for="date-7">
                                        {{fiveDaysAfter}}
                                    </label>
                                    <span id="today-hint" class="govuk-hint" style="margin-left: 15px;">
                                        Your weekly charge is valid until midnight on {{fiveDaysAfterStringWeekly}}
                                    </span>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="date-8" name="date" type="radio"
                                        value="6-days-after">
                                    <label class="govuk-label govuk-radios__label" for="date-8">
                                        {{sixDaysAfter}}
                                    </label>
                                    <span id="today-hint" class="govuk-hint" style="margin-left: 15px;">
                                        Your weekly charge is valid until midnight on {{sixDaysAfterStringWeekly}}
                                    </span>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="date-9" name="date" type="radio"
                                        value="7-days-after">
                                    <label class="govuk-label govuk-radios__label" for="date-9">
                                        {{sevenDaysAfter}}
                                    </label>
                                    <span id="today-hint" class="govuk-hint" style="margin-left: 15px;">
                                        Your weekly charge is valid until midnight on {{sevenDaysAfterStringWeekly}}
                                    </span>
                                </div>
                            </div>
                        </fieldset>   
                </div>
                <br>
                <br>
                <button type="submit" class="govuk-button">
                    Continue
                </button>
                <p><a href="/payments/select-period">Pay for 1 day instead</a></p>
            </div>        
        </form>
    </div>
    <div class="govuk-grid-column-one-third" style="background: #f8f8f8; border-style: solid; border-width: 10px; border-color: 
        #bfc1c3; padding: 20px; width: 31%;">
        <h2 class="govuk-heading-m">
            Payment summary
        </h2>
        <h3 class="govuk-heading-s">
            Registration number
        </h3>
        <p id="vrm" name="vrm" style="text-transform: uppercase">{{ data['vrn'] }}</p>
        <h3 class="govuk-heading-s">
            Clean Air Zone
        </h3>
        {% if caz == 'leeds-weekly'%}
        {% set caz = 'leeds' %}
        {% endif %}
        <p style="text-transform: capitalize">{{caz}}</p>
    </div>
</div>

{% endblock %}