{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/payments/caz",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
    Pay a Clean Air Zone charge
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">What day do you want to pay for?</h1>
        <form method="post" class="form" action="/payments/selected-date">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="date-1" required name="date" type="radio" value="yesterday" required>
                            <label class="govuk-label govuk-radios__label" for="date-1">
                                {{yesterday}}
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="date-2" required name="date" type="radio" value="today" required>
                            <label class="govuk-label govuk-radios__label" for="date-2">
                                {{today}}
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button">
                Continue
            </button>
        </form>
    </div>
    <div class="govuk-grid-column-one-third" style="background: #f8f8f8; border-style: solid; border-width: 10px; border-color: 
    #bfc1c3; padding: 20px; width: 31%;">
        <h2 class="govuk-heading-m">
            Payment summary
        </h2>
        <h3 class="govuk-heading-s">
            Registration number
        </h3>
        <p id="vrm" name="vrm">{{ data['vrn'] }}</p>
        <h3 class="govuk-heading-s">
            Total charge
        </h3>
        <h2 class="govuk-heading-m" id="charge" name="charge">{{amountDue}}</h2>
    </div>
</div>

{% endblock %}