{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/payments/caz",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
    Pay a Clean Air Zone charge
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">When did or will you drive?</h1>
        <form method="post" class="form" action="/payments/selected-date">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="date-1" required name="date" type="radio" value="yesterday" required>
                            <label class="govuk-label govuk-radios__label" for="date-1">
                                {{yesterday}}
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="date-2" required name="date" type="radio" value="today" required>
                            <label class="govuk-label govuk-radios__label" for="date-2">
                                {{today}}
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="date-3" required name="date" type="radio" value="1-day-after" required>
                            <label class="govuk-label govuk-radios__label" for="date-3">
                                {{oneDayAfter}}
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="date-4" required name="date" type="radio" value="2-days-after" required>
                            <label class="govuk-label govuk-radios__label" for="date-4">
                                {{twoDaysAfter}}
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="date-5" required name="date" type="radio" value="3-days-after" required>
                            <label class="govuk-label govuk-radios__label" for="date-5">
                                {{threeDaysAfter}}
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="date-6" required name="date" type="radio" value="4-days-after" required>
                            <label class="govuk-label govuk-radios__label" for="date-6">
                                {{fourDaysAfter}}
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="date-7" required name="date" type="radio" value="5-days-after" required>
                            <label class="govuk-label govuk-radios__label" for="date-7">
                                {{fiveDaysAfter}}
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="date-8" required name="date" type="radio" value="6-days-after" required>
                            <label class="govuk-label govuk-radios__label" for="date-8">
                                {{sixDaysAfter}}
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="date-9" required name="date" type="radio" value="7-days-after" required>
                            <label class="govuk-label govuk-radios__label" for="date-9">
                                {{sevenDaysAfter}}
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <p>A daily charge runs from midnight to midnight.</p>
            <button type="submit" class="govuk-button">
                Continue
            </button>
        </form>
    </div>
    <div class="govuk-grid-column-one-third" style="background: #f8f8f8; border-style: solid; border-width: 10px; border-color: 
    #bfc1c3; padding: 20px; width: 31%;">
        <h2 class="govuk-heading-m">
            Payment summary
        </h2>
        <h3 class="govuk-heading-s">
            Registration number
        </h3>
        <p id="vrm" name="vrm" style="text-transform: uppercase">{{ data['vrn'] }}</p>
        <h3 class="govuk-heading-s">
            Clean Air Zone
        </h3>
        <p style="text-transform: capitalize">{{caz}}</p>
        
        <h3 class="govuk-heading-s">
            Total charge
        </h3>
        <h2 class="govuk-heading-m" id="charge" name="charge">{{amountDue}}</h2>
    </div>
</div>

{% endblock %}