{% extends "layout.html" %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Pay a Clean Air Zone charge
      </h1>

      <p>Use this service to pay a charge for driving in a Clean Air Zone.</p>

      <p>You'll need the registration number of the vehicle.</p>

      <div class="govuk-inset-text">
        <a href="https://caz-prototype.herokuapp.com/">Check if you have to pay</a>
      </div>

      <a href="/payments/enter-vehicle-details" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>

      <h2 class="govuk-heading-m">
        Other ways to pay
      </h2>

      <p>You can pay:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>by phone</li>
        <li>by textphone</li>
        <li>at your nearest <a href="https://www.payzone.co.uk/consumers/" target=_blank>Payzone</a>, <a href="https://consumer.paypoint.com/" target=_blank>PayPoint</a> or <a href="https://www.postoffice.co.uk/branch-finder" target=_blank>Post Office</a> outlet</li>
      </ul>
      <br>
      <table class="govuk-table">
        <caption class="govuk-table__caption">Pay a Clean Air Zone charge by telephone</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Bath</td>
            <td class="govuk-table__cell" scope="row">0123456789</td>
            <td class="govuk-table__cell">Available 7 days a week, from 8am to 6pm</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Birmingham</td>
            <td class="govuk-table__cell" scope="row">0234567891</td>
            <td class="govuk-table__cell">Available 7 days a week, from 9am to 7pm</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Leeds</td>
            <td class="govuk-table__cell" scope="row">0345678910</td>
            <td class="govuk-table__cell">Available 7 days a week, from 8am to 6pm</td>
          </tr>
        </tbody>
      </table>
      <br>
      <table class="govuk-table">
        <caption class="govuk-table__caption">Pay a Clean Air Zone charge by textphone</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Bath</td>
            <td class="govuk-table__cell" scope="row">045678912</td>
            <td class="govuk-table__cell">Available 7 days a week, from 8am to 6pm</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Birmingham</td>
            <td class="govuk-table__cell" scope="row">056789123</td>
            <td class="govuk-table__cell">Available 7 days a week, from 9am to 7pm</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Leeds</td>
            <td class="govuk-table__cell" scope="row">067891234</td>
            <td class="govuk-table__cell">Available 7 days a week, from 8am to 6pm</td>
          </tr>
        </tbody>
      </table>
      <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
      
    </div>

</div>

{% endblock %}
