{% extends "layout.html" %}

{% block pageTitle %}
  Clean Air Zones
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check a vehicle's Clean Air Zone compliance
      </h1>

      <p>You can use this service to check if a specific vehicle will incur a charge when it drives through charging Clean Air Zone.</p>

      <p>You'll need the registration of the vehicle you wish to check.</p>

      <a href="/vehicle-checker/enter-vehicle-details" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>

      <h2 class="govuk-heading-m">
        More information
      </h2>

      <p>There are 4 charging Clean Air Zones in England, each with their own emissions standards, charges, discounts and exemptions.</p>

      <h2 class="govuk-heading-m">
        Other ways to check
      </h2>

      <p>
        <b>DVLA vehicle CAZ compliance checking service</b>
        <br>
        Telephone: 0300 790 6802
        <br>
        24-hour service
        <br>
        <br>
        <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
      </p>

      <h2 class="govuk-heading-m">
        Related content
      </h2>

      <p><a href="">Pay a CAZ charge</a></p>

      <h2 class="govuk-heading-m">
        Explore the topic
      </h2>
  
      <p><a href="">Clean Air Zones</a></p>

      <h2 class="govuk-heading-m">
        Elsewhere on the web
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="http://www.bathnes.gov.uk/bath-breathes-2021-overview" target="_blank">Bath and North East Somerset CAZ information</a></li>
        <li><a href="https://www.birmingham.gov.uk/info/20076/pollution/1763/a_clean_air_zone_for_birmingham" target="_blank">Birmingham CAZ information</a></li>
        <li><a href="https://cleanairleeds.co.uk/clean-air-zone" target="_blank">Leeds CAZ information</a></li>
        <li><a href="http://democracy.sheffield.gov.uk/ieDecisionDetails.aspx?Id=2156" target="_blank">Sheffield CAZ information</a></li>
      </ul>

    </div>

</div>

{% endblock %}
